In [59]:
def centroidofpoints(cpoints):
    x = [x[0] for x in cpoints]
    y= [y[1] for y in cpoints]
    l=len(x)
    return [(sum(x)/l, sum(y)/l)]

In [ ]:
def updateCentroid(newCentroid):
    c=[]
    for i in range(0,len(newCentroid)):
        c.append(newCentroid[i])
    return c

In [ ]:
def clusterAssignment(c,cpoints):
    clusterList=[]
    cSize=len(cpoints)
    for i in range(0,cSize):
        dist=[]
        for j in range(0,len(c)):
            dist.append(round(math.dist(c[j],cpoints[i]),3))
        cluster=findPos(dist)
        clusterList.append(cluster)    
    return clusterList

In [ ]:
def findPos(dis):
    pos=dis.index(min(dis))
    return po

In [60]:
centroid([(0,0),(1,1),(5,2)])

[(2.0, 1.0)]

In [62]:
c=[(0,0),(1,1),(2,2)]
c=updateCentroid([(1,0),(2,1),(3,2)])

In [23]:
import math
import pandas as pd
clusters=[]
x = [4, 5, 10, 4, 3, 11, 14 , 8, 10, 12]
y = [21, 19, 24, 17, 16, 25, 24, 22, 21, 21]
c=[(11,22),(4,18)]
data = list(zip(x, y))
clusters=clusterPoints(c,data)

In [24]:
df=pd.DataFrame(data)

In [26]:
df['clusters']=clusters

In [27]:
df.head()

    0   1  clusters
0   4  21         1
1   5  19         1
2  10  24         0
3   4  17         1
4   3  16         1

In [28]:
df1=pd.DataFrame()
df1['x']=x

    x
0   4
1   5
2  10
3   4
4   3
5  11
6  14
7   8
8  10
9  12